/readme.rst
/system
/user_guide
/composer.json
/contributing.md
/index.php
/license.txt
/application/controllers
/application/helpers
/application/hooks
/application/language
/application/libraries
/application/logs
/application/models
/application/third_party
/application/views
/application/.htaccess
/application/index.html
/application/cache
/application/config
